{% extends "app/layout_for_edit.html" %}
{% load dictionary_extras %}
{% block first %}
{% include 'messages.html' %}
{% include "staff_group.html" %}
{% include "frame.html" %}
<form method="post" action="/bug/edit_bug/{{ bug.id }}/" class=" form-horizontal">
    <fieldset>
        <legend><h1>编辑Bug</h1></legend>
        <div class="control-group">
            <label class="control-label">名称:</label>

            <div class="controls">
                <input name="name" type="text" value="{{ bug.name }}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_begin_date">开始日期:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <input id="id_begin_date" name="begin_date" type="text" value="{{ bug.begin_date|date:"Y-m-d" }}">(格式:
                YYYY-MM-DD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_end_date">结束日期:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <input id="id_end_date" name="end_date" type="text" value="{{ bug.end_date|date:"Y-m-d" }}">(格式:
                YYYY-MM-DD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">状态:</label>

            <div class="controls">
                <select name="state">
                    <option value="1" {% ifequal bug.state 1 %}selected="true" {% endifequal %}>待确认</option>
                    <option value="2" {% ifequal bug.state 2 %}selected="true" {% endifequal %}>进行中</option>
                    <option value="3" {% ifequal bug.state 3 %}selected="true" {% endifequal %}>待审核</option>
                    <option value="4" {% ifequal bug.state 4 %}selected="true" {% endifequal %}>已结束</option>
                </select>
            </div>

        </div>
        <div class="control-group">
            <label class="control-label">等级:</label>

            <div class="controls">
                <select name="importance">
                    <option value="1" {% ifequal bug.importance 1 %}selected="true" {% endifequal %}>一般</option>
                    <option value="2" {% ifequal bug.importance 2 %}selected="true" {% endifequal %}>紧急</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">内容:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <textarea name="content" id="content">{{ bug.content }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">完成标志:</label>

            <div class="controls">
                <input name="finish" id="finish" value="{{ bug.finish }}"/>(还可以输入<span id="last_ch">1000</span>个字符)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">所属项目:</label>

            <div class="controls">
                <select name="task" id="task">
                    {% for t in root_task %}
                        <option value="{{ t.id }}" {% ifequal t bug.task %}selected{% endifequal %}>{{ t }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">所属的组:</label>

            <div class="controls">
                <select name="group" id="group" multiple="multiple">
                    {% for g in group %}
                        <option value="{{ g.id }}" {% for tg in bug.group.all %}
                                {% ifequal tg g %}selected="true" {% endifequal %}{% endfor %}>
                            {{ g }}
                        </option>
                    {% endfor %}
                </select>按住Ctrl多选
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">创建者:</label>

            <div class="controls">
                {{ bug.creator }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">负责人:</label>

            <div class="controls">
                <select name="principal" id="principal" class="modalLink" href="#modal1_staff_radio"
                        onclick="setRadio_id('principal')">
                    <option value="{{ bug.principal.id }}" selected>{{ bug.principal }}</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">执行人:</label>

            <div class="controls">
                <select name="executor" multiple id="executor" class="modalLink" href="#modal1_staff_checkbox"
                        onclick="setCheckbox_id('executor')">
                    {% for e in bug.executor.all %}
                        <option value="{{ e.id }}" selected>{{ e }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary toTop" type="submit">保存</button>
                <a class="btn btn-warning" href="/bug/edit_bug/{{ bug.id }}/">重置</a>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript" language="JavaScript">
    $(document).ready(function () {
        $(document).on('input', '#finish', function () {
            var val = $('#finish').val();
            var len = val.length
            if (len > 1000)
                alert("完成标志的长度不能超过1000个字符,超过的部分在提交时会被截断!");
            $('#last_ch').text(1000 - len);
        });
    });
</script>
{% endblock %}