{% include 'messages.html' %}
{% include "dataTables.html" %}
<legend><h1>日程列表</h1></legend>
<div id="taskTree">
    <table class="table table-condensed table_show_detail" >
        <thead>
        <tr>
            <th class="span2"><input type="text"  value="姓名" class="search_init"></th>
            <th class="span3"><input type="text"  value="今日概述" class="search_init"></th>
            <th class="span2"></th>
        </tr>
        <tr>
            <th class="span2">姓名</th>
            <th class="span3">今日概述</th>
            <th class="span2">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for staff,summary in StaffList.items %}
            <tr>
                <td class="span3">
                    {{ staff.name }}
                </td>
                <td class="span2">
                    {{ summary }}
                </td>
                <td class="span2">
                    <a class="btn btn-primary get_others_calendar" url="/calendar/{{ staff.user.id }}/" href="#third">查看</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>