{% extends "app/layout.html" %}
{% load dictionary_extras %}
{% block first %}
{% include "messages.html" %}
{% include "staff_group.html" %}
{% include "frame.html" %}
{% load mptt_tags %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function () {
        $(document).on('input', '#finish', function () {
            var val = $('#finish').val();
            var len = val.length
            if (len > 1000)
                alert("完成标志的长度不能超过1000个字符,超过的部分在提交时会被截断!");
            $('#last_ch').text(1000 - len);
        });

{#        $('#temp').change(function () {#}
{#            var val = $('#temp').val()#}
{#            if (val != '-1') {#}
{#                var url = "/task/selTemp_addTsk/" + val + "/"#}
{#                $.get(url, function (data) {#}
{#                    $('#first').html(data);#}
{#                });#}
{#            }#}
{#            else {#}
{#                var url = "/task/add_task/"#}
{#                $.get(url, function (data) {#}
{#                    $('#first').html(data);#}
                    {#  $(".add_tsk").removeAttr("disabled");#}
{#                });#}
{#            }#}
{#        });#}

    });
</script>
<form method="post" action="/task/add_task/" class="form-horizontal">
    <fieldset>
        <legend><h1>创建项目</h1></legend>
        {% ifequal edit_task True %}
            <div class="control-group">
                <label class="control-label" for="id_name">选择模板创建项目:</label>

                <div class="controls">
                    <select id="temp" name="temp" onchange="self.location.href=options[selectedIndex].getAttribute('url')">
                        <option value="-1" url="/task/add_task/"></option>
                        {% for temp in temps %}
                            <option value="{{ temp.id }}" url="/task/selTemp_addTsk/{{ temp.id }}/"
                                    {% ifequal selTemp.id temp.id %} selected="true" {% endifequal %}>{{ temp }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endifequal %}
        <div class="control-group">
            <label class="control-label" for="id_name">名称:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <input id="id_name" name="name" type="text" value="{{ t_name }}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_begin_date">开始日期:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <input id="id_begin_date" name="begin_date" type="text" value="{{ t_begin_date |date:"Y-m-d" }}">(格式:
                YYYY-MM-DD)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_end_date">结束日期:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <input id="id_end_date" name="end_date" type="text" value="{{ t_end_data |date:"Y-m-d" }}">(格式:
                YYYY-MM-DD)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">状态:</label>

            <div class="controls">
                <select name="state" id="imstate">
                    <option value="1" {% ifequal t_state '1' %}selected="true" {% endifequal %}>待确认</option>
                    <option value="2" {% ifequal t_state '2' %}selected="true" {% endifequal %}>进行中</option>
                    <option value="3" {% ifequal t_state '3' %}selected="true" {% endifequal %}>待审核</option>
                    <option value="4" {% ifequal t_state '4' %}selected="true" {% endifequal %}>已结束</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">等级:</label>

            <div class="controls">
                <select name="importance" id="id_importance">
                    <option value="1" {% ifequal t_importance '1' %}selected="true" {% endifequal %}>一般</option>
                    <option value="2" {% ifequal t_importance '2' %}selected="true" {% endifequal %}>紧急</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">内容:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <textarea name="content" id="content">{{ t_content }}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">完成标志:</label>

            <div class="controls">
                <textarea name="finish" id="finish">{{ t_finish }}</textarea>(还可以输入<span id="last_ch">1000</span>个字符)
            </div>

        </div>

        <div class="control-group">
            <label class="control-label">父任务:</label>

            <div class="controls">
                <select name="parent" id="parent">
                    {# {% ifequal edit_task True %}#}
                    {#     <option {% ifequal t_parent None %}selected="true" {% endifequal %} value="None"></option>#}
                    {# {% endifequal %}#}
                    {# {% for p in parent %}#}
                    {#     <option value="{{ p.id }}"#}
                    {# {% ifequal t_parent p %}selected="true" {% endifequal %}>{{ p }}</option>#}
                    {# {% endfor %}#}
                    {% ifequal edit_task True %}
                        <option {% ifequal t_parent None %}selected="true" {% endifequal %} value="None"></option>
                    {% endifequal %}
                    {% for node,structure in parent|tree_info %}
                        <option value="{{ node.id }}" {% ifequal t_parent node %}selected="true" {% endifequal %}>
                            {% if not node.is_root_node %}
                                {% for i in node.get_level|n_range %}
                                    &nbsp;&nbsp;
                                {% endfor %}
                                {# {% for i in  1|n_range %}#}
                                {#     <strong>0</strong>#}
                                {# {% endfor %}#}
                            {% endif %}
                            {{ node }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">所属组:</label>

            <div class="controls">
                <select name="group" id="group" multiple="multiple">
                    {% for g in group %}
                        <option value="{{ g.id }}" {% for tg in t_group %}{% ifequal tg g %}selected="true"
                        {% endifequal %}{% endfor %}>
                            {{ g }}
                        </option>
                    {% endfor %}
                </select>按住Ctrl多选
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">负责人:<span style="color: red">&lowast;</span></label>

            <div class="controls">
                <select name="principal" id="principal" class="modalLink" href="#modal1_staff_radio"
                        onclick="setRadio_id('principal')">
                    <option value="{{ t_principal.id }}">{{ t_principal }}</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">执行人:</label>

            <div class="controls">
                <select name="executor" multiple id="executor" class="modalLink" href="#modal1_staff_checkbox"
                        onclick="setCheckbox_id('executor')">
                    {% for e in t_executor %}
                        <option value="{{ e.id }}" selected>{{ e }}</option>
                    {% endfor %}
                </select>点击空白处进行选择
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">可见度:</label>

            <div class="controls">
                <select name="visible" multiple id="visible" class="modalLink" href="#modal1_staff_checkbox"
                        onclick="setCheckbox_id('visible')">
                    {% for v in t_visible %}
                        <option value="{{ v.id }}" selected>{{ v }}</option>
                    {% endfor %}
                </select>点击空白处进行选择
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary toTop add_tsk">添加</button>
                <button type="reset" class="btn btn-primary toTop">清空</button>
            </div>
        </div>
    </fieldset>
</form>
<script>
     $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('.add_task_select').parent().addClass('active');

    });
</script>{% endblock %}
