{% extends "app/layout.html" %}
{% load dictionary_extras %}
{% block first %}
{% include 'messages.html' %}
{% include "dataTables.html" %}
{% include "frame.html" %}

<legend><h1>我执行的项目</h1></legend>
<form  method="get" enctype="multipart/form-data">

    <table class="table table-condensed row-fluid table_show_detail">
        <thead>
        <tr>
            <th ><input type="text" value="任务名称" class="search_init"></th>
            <th ><input type="text" id="time_start1" value="开始时间始" class="search_init"></th>
            <th ><input type="text" id="time_start2" value="开始时间止" class="search_init"></th>
            <th ><input type="text" id="time_end1" value="结束时间始" class="search_init"></th>
            <th ><input type="text" id="time_end2" value="结束时间止" class="search_init"></th>
            <th ><input type="text" value="完成标志" class="search_init"></th>
            <th ><input type="text" value="所属任务" class="search_init"></th>
            <th ><input type="text" value="所属组" class="search_init"></th>
            <th ><input type="text" value="创建人" class="search_init"></th>
            <th ><input type="text" value="负责人" class="search_init"></th>
            <th ><input type="text" value="执行人" class="search_init"></th>
            <th class="noSort"></th>
        </tr>
        <tr>
            <th >任务名称</th>
            <th >开始时间</th>
            <th >结束时间</th>
            <th >任务状态</th>
            <th >等级</th>
            <th >完成标志</th>
            <th >所属任务</th>
            <th >所属组</th>
            <th >创建人</th>
            <th >负责人</th>
            <th >执行人</th>
            <th class="noFilter noSort" colspan=1>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>

                    <a class="detail_button" url="{% url 'task' task.id %}" href="#second">{{ task.name }}</a>
                </td>
                <td>
                    {{ task.begin_date|date:"Y-m-d" }}
                </td>
                <td>
                    {{ task.end_date|date:"Y-m-d" }}
                </td>
                <td>
                    {% ifequal task.state 1 %}<span class="label label-important">待确认</span>{% endifequal %}
                    {% ifequal task.state 2 %}<span class="label label-info">进行中</span>{% endifequal %}
                    {% ifequal task.state 3 %}<span class="label label-warning">待审核</span>{% endifequal %}
                    {% ifequal task.state 4 %}<span class="label label-success">已结束</span>{% endifequal %}
                </td>
                <td>
                    {% ifequal task.importance 1 %}一般{% endifequal %}
                    {% ifequal task.importance 2 %}紧急{% endifequal %}
                </td>
                <td>
                    {{ task.finish|sub_str:13 }}
                </td>
                <td>
                    {{ task.parent }}
                </td>
                <td>
                    {% if task.group.all|length > 3 %}
                        {% for g in  task.group.all|slice:":3" %}
                            {{ g }};
                        {% endfor %}
                        ...
                    {% else %}
                        {% for g in  task.group.all %}
                            {{ g }};
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {{ task.creator }}
                </td>
                <td>
                    {{ task.principal }}
                </td>
                <td>
                    {% if task.executor.all|length > 3 %}
                        {% for e in  task.executor.all|slice:":3" %}
                            {{ e }};
                        {% endfor %}
                        ...
                    {% else %}
                        {% for e in  task.executor.all %}
                            {{ e }};
                        {% endfor %}
                    {% endif %}
                </td>
                <td colspan=1>
                    <a class="modalLink get_comments btn  btn-small btn-primary " task_id="{{ task.id }}" href="#modal1_{{ task.id }}">评论</a>
                    <a class="btn btn-small btn-primary " href="/task/schedule/p1{{ task.id }}p23/"onclick="if(confirm('是否将此项内容加入今日的日程概括？')){return true;}return false;">
                        日程
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
<div class="overlay"></div>

{% for task in tasks %}
    <div id="modal1_{{ task.id }}" class="modal" style="display:none;margin: 0 auto;padding-left:15px;padding-top:10px;">
         <div id="comment_{{ task.id }}"></div>
       <form method="post" class="form_comment"
              action="/task/add_comment/p1{{ task.id }}p21p31/" style="text-align: center;width:auto;">
            {{ nf.as_p }}
            <input type="submit" value="提交" class="btn btn-primary task_button"/>&nbsp&nbsp&nbsp
            <button class="closeBtn btn btn-primary task_button">返回</button>
        </form>
    </div>
{% endfor %}
        <script>
     $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('.executed_task_select').parent().addClass('active');

    });
    </script>{% endblock %}
