{% extends 'app/layout.html' %}
{% block first %}
{% include 'messages.html' %}
<legend><h1>修改密码</h1></legend>
<form method="post" action="/app/change_password/" class="form-horizontal" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label">原密码:<span style="color: red">&lowast;</span></label>
        <div class="controls">
            <input name="password" type="password" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">新密码:<span style="color: red">&lowast;</span></label>
        <div class="controls">
            <input name="newpassword1" alt="text" type="password" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">确认新密码:<span style="color: red">&lowast;</span></label>
        <div class="controls">
            <input name="newpassword2" alt="text" type="password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
             <button class="btn btn-primary" type="submit">添加</button>
             <button class="btn btn-primary" type="reset">清除</button>
        </div>
    </div>
</form>
    <script>
     $(document).ready(function () {
        $('.nav li').removeClass('active');
        $('.change_password_select').parent().addClass('active');

    });
    </script>
{% endblock %}